

<footer class="site-footer">
    <div class="container">
        <h2 class="footer-title">Contact Fran For All Your Events or Party Needs</h2>
        <h2 class="footer-book-text" style="font-size: 40px;">BOOK EARLY TO AVOID DISAPOINTMENT</h2>
        <h6 class="footer-text">Serving Halton Region and parts of the GTA</h6>
        <p class="footer-text"><b>Note: Cancellation policy applies </b></p>
    </div>
    <div class="container">
        <div class="booking" style="margin: 0 auto; padding-top: 5em;">
            <form action="https://submit-form.com/lKxU2N30" style="max-width: 950px; margin: 0 auto;">

                <div class="row gx-2">
                    <div class="col">
                        <label for="firstName" class="form-label">First Name*</label>
                        <input id="firstName" class="form-control mb-3" type="text" name="First Name"  required>
                    
                        <label for="lastName" class="form-label">Last Name*</label>
                        <input id="lastName" class="form-control mb-3" type="text" name="Last Name" required>
                    </div>
                </div>

                <div class="row gx-2">
                    <div class="col">
                        <label for="date" class="form-label">Event Date</label>
                        <input id="date" class="form-control mb-3" type="date" name="Event Date">
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col">
                        <label for="address" class="form-label">Event address</label>
                        <input id="address" class="form-control mb-3" type="address" name="Address">
                    </div>
                </div>
                
    
               <div class="row gx-2">
                    <div class="col">
                        <label for="email" class="form-label">Email Address*</label>
                        <input id="email" class="form-control mb-3" type="email" name="Email" required>
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col">
                        <label for="numGuests" class="form-label">Number of Guests - 60 or more requires two workers</label>
                        <input id="numGuests" class="form-control mb-3" type="number" name="Number Of Guests">
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col">
                        <label for="notes" class="form-label">Message Notes:</label>
                        <textarea id="notes" class="form-control mb-3" type="testarea" name="Notes"></textarea>
                        <button type="submit" class="btn btn-secondary mb-2">
                            Submit Enquiry
                        </button>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
</footer>