<%- include('../partials/metadata.ejs') %>

<header class="site-header">
  <!--Header-->
  <div class="masthead">
    <img src="/images/eventBackground.jpg" alt="Header" class="headerImg" />
    <div class="title">
      <h1 class="site-title" style="margin-top: 15%">Fran's Party Services</h1>
      <h2 class="site-decription">Event Services by Fran</h2>
      <h3 class="site-decription">franskyread@gmail.com</h3>
      <h3 class="site-decription">(905) 299 8370</h3>
    </div>
  </div>
</header>
