
  <%- include('../partials/masthead.ejs') %>
 <!--About Fran-->
<div class="container">
  <div class="row aboutCard" style="margin-top: 10em;">
   
    <div class="col">
      <div class="card" style="border: none;">
        <div class="row justify-content-center">

          <div class="col-auto">
            <img src="/images/profilePic.png" alt="profile" style="width: 20em; border-radius: 50em;">
          </div>

          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title" style="font: 50pt Brush Script MT, Brush Script Std, cursive;">Fran Read</h5>
              <p class="card-text" style="font: 18pt serif">Hello, <br> My name is Fran Read and I am the owner and operator of Fran’s Party Supplies. 
                I offer professional event staff, bartending, food service, and equipment rentals. All members of the team, including myself, 
                are Smart Serve certified and arrive on time, dressed to impress. I also offer assistance during the planning phase of your event. 
                With my XX years of experience, I can help make sure your event is executed smoothly and with style! </p>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</div>


 <!--Event Pictures-->
  <div class="row eventRow" style="margin: 10em auto;">
      <div class="col-auto animate__animated animate__backInLeft" >
        <img src="/images/event1.jpg" alt="" class="eventPics">
      </div>
      <div class="col-auto animate__animated animate__backInUp">
        <img src="/images/event2.jpg" alt="" class="eventPics">
      </div>
      <div class="col-auto animate__animated animate__backInRight">
        <img src="/images/event3.jpg" alt="" class="eventPics">
      </div>

  </div>

<!--Services-->
<div class="serviceContainer" style="width: 90%; margin: 10em auto;">
  <div class="row serviceRow">
    
    <div class="col-auto">
      <!--Bartending-->
      <div class="card mb-3 serviceCard" style="width: 35em;">
        <div class="row">
          <div class="col">
            <div class="card-body">
              <h2 class="card-title">BarTending</h2>
              <p class="card-text">Full service bartending with all the nessarry equipment</p>
            </div>
          </div>
          <div class="col">
            <img src="/images/bartending.jpg" alt="" style="max-width: 18em;">
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto">

      <!--Food Service-->
      <div class="card mb-3 serviceCard" style="width: 35em;">
        <div class="row ">
          <div class="col">
            <div class="card-body">
              <h2 class="card-title">Serving</h2>
              <p class="card-text">Food serving, food prep, and clean up are all part of the party services</p>
            </div>
          </div>
          <div class="col">
            <img src="/images/foodService.jpg" alt="" style="max-width: 18em;">
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <!--Rentals-->
      <div class="card mb-3 serviceCard" style="width: 35em;">
        <div class="row ">
          <div class="col">
            <div class="card-body">
              <h2 class="card-title">Rentals</h2>
              <p class="card-text">White frabic table cloths, table decorations, and small blackboards</p>
            </div>
          </div>
          <div class="col">
            <img src="/images/tableCloth.jpg" alt="" style="max-width: 18em;">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<%- include('../partials/footer') %>