
  <%- include('../partials/masthead.ejs') %>
 <!--About Fran-->
<div class="container">
  <div class="row aboutCard" style="margin-top: 10em;">
   
    <div class="col">
      <div class="card" style="border: none;">
        <div class="row justify-content-center">

          <div class="col-auto">
            <img src="/images/profilePic.png" alt="profile" style="width: 100%; object-fit: cover; border-radius: 50em;">
          </div>

          <div class="col-10">
            <div class="card-body">
              <h5 class="card-title" style="font: 50pt Brush Script MT, Brush Script Std, cursive;">Fran Read</h5>
              <p class="card-text bio" style="font: 18pt serif">Hello, <br> My name is Fran Read and I am the owner and operator of Fran’s Party Supplies. 
                I offer professional event staff, bartending, food service, and equipment rentals. All members of the team, including myself, 
                are Smart Serve certified and arrive on time, dressed to impress. I also offer assistance during the planning phase of your event. 
                With my 10 years of experience, I can help make sure your event is executed smoothly and with style! </p>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</div>


 <!--Event Pictures-->
  <div class="row eventRow" style="margin: 10em auto;">
      <div class="col-auto " data-aos="fade-right" data-aos-duration="1500">
        <img src="/images/IMG_1403.jpeg" alt="" class="eventPics">
      </div>
      <div class="col-auto " data-aos="fade-down" data-aos-duration="1500">
        <img src="/images/IMG_1332.jpg" alt="" class="eventPics">
      </div>
      <div class="col-auto" data-aos="fade-up" data-aos-duration="1500">
        <img src="/images/IMG_1406.jpg" alt="" class="eventPics">
      </div>
      <div class="col-auto" data-aos="fade-left" data-aos-duration="1500">
        <img src="/images/IMG_2497.jpg" alt="" class="eventPics">
      </div>

  </div>

<!--Services-->
<div class="serviceContainer" style="width: 90%; margin: 10em auto;">
  <div class="row serviceRow">
    
    <div class="col-auto">
      <!--Bartending-->
      <div class="card mb-3 serviceCard" style="width: 30em;" data-aos="flip-right" data-aos-duration="1500">
        <div class="row justify-content-center">
          <div class="col">
            <div class="card-body">
              <h2 class="card-title">Bartending</h2>
              <ul class="card-text">
                <li>I bring my own bartending tools</li>
                <li>Knowledge about drinks</li>
                <li>Maintains cleanliness</li>
                <li>Good customer service skills</li>
                <li>Great time management and memory</li>
                <li>Situational awareness</li>
                <li>Great sense of humor</li>
                <li><b>Now Hiring (Contact Below For Details)</b></li>
              </ul>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-auto  ">
               <img class="card-img" src="/images/IMG_2302.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto">

      <!--Food Service-->
      <div class="card mb-3 serviceCard" style="width: 40em;" data-aos="flip-up" data-aos-duration="1500">
        <div class="row justify-content-center">
          <div class="col">
            <div class="card-body">
              <h2 class="card-title">Serving</h2>
              <ul class="card-text">
                <li>Helping to prep food</li>
                <li>Serve beverages (sodas, water, tea and/or coffee)</li>
                <li>Pick up used plates and glasses</li>
                <li>Put away leftover food</li>
                <li>Clean up</li>
                <li>Note: House cleaning and vacuuming is not included</li>
                <li><b>Now Hiring (Contact Below For Details)</b></li>
              </ul>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-auto">
              <img src="/images/IMG_2212.jpg" alt="" class="card-img">
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <!--Rentals-->
      <div class="card mb-3 serviceCard" style="width: 40em;" data-aos="flip-left" data-aos-duration="1500">
        <div class="row justify-content-center">
          <div class="col">
            <div class="card-body">
              <h2 class="card-title">Rentals</h2>
              <h6 class="card-subtitle mb-2 text-muted">(Contact Below For Pricing)</h6>
              <ul class="card-text">
                <li>White fabric table cloths (fits 6' table)</li>
                <li>Small blackboards to identify your food(s)</li>
                <li>Small vases for decorative flowers</li>
              </ul>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-auto">
               <img src="/images/IMG_2507.jpg" alt="" class="card-img-db">
            </div>
            <div class="col-auto">
              <img src="/images/IMG_2509.jpg" alt="" class="card-img-db">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<%- include('../partials/footer') %>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>